<p>
This website has been created with minimalism in mind, that's why we employ near to zero CSS and try to make website as barebone as possible, while still doing the job.
</p>
<p>
Idea is simple, share the post, write anything you want in it, and browse other posts. Everyone can contribute.

</p>

<p>
There are only few restrictions: Title of the post has to be between 6 and 30 characters and content has to be between 10 and 1000.
</p>

<%= link_to 'Posts listing', posts_path %> |
<%= link_to 'Home page', root_path %> 