<h1>Welcome to ShareIt!</h1>

<p>You can read about this website in the about section, or jump straight into posts.</p>

<%= link_to 'Posts listing', posts_path %> |
<%= link_to 'About page', about_path %> 