<h1>Here are all of the posts available:</h1>

<table>
  <thead>
    <tr>
      <th>Time created</th>
      <th>Title</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.created_at %></td>
        <td><%= post.title %></td>
        <td><%= link_to 'Show post', post_path(post) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Create new post', new_post_path %> |
  <%= link_to 'Home page', root_path %> 
</p>