<h1>Create a new post</h1>

<% if @post.errors.any? %>
  <h2>The following errors prevented the post from being saved:</h2>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with scope: :post, url: posts_path, local: true do |f| %>

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, size: "30" %>
  </p>

  <p>
    <%= f.label :content %><br/>
    <%= f.text_area :content, rows: "10", cols: "30" %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Return to posts listing', posts_path %> 