<!DOCTYPE html>
<html>
  <head>
    <title>ShareIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
    <style>
    table,
    th,
    td {
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= msg %>
    <% end %>  
    <%= yield %>
  </body>
</html>
